{% extends 'base.html.twig' %}

{% block title %}Edit Brand{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Edit Brand</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-3 w-100">Save Changes</button>
        {{ form_end(form) }}

        <a href="{{ path('all_brands') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
    </div>
{% endblock %}
