{% extends 'base.html.twig' %}

{% block title %}Create New Brand{% endblock %}

{% block body %}
    <h1>Create New Brand</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('brand_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
