{# templates/note/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Note{% endblock %}

{% block body %}
    <h1>Edit Note</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('note_index') }}" class="btn btn-secondary">Back to notes</a>
{% endblock %}
