<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Proje Yönetimi{% endblock %}</title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<!-- Navbar -->
<header class="navbar">

</header>

<!-- Layout with Sidebar -->
<div class="main-layout">


    <!-- Main Content Area -->
    <main class="content">
        {% block body %}{% endblock %}
    </main>
</div>

<footer>
    <!-- Optional Footer content -->
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
