{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <div class="new-project-container">
        <h1>Create New Project</h1>

        {{ include('project/_form.html.twig') }}

    </div>
    <a href="{{ path('project_index') }}" class="back-to-list">Back to List</a>

{% endblock %}
